i.bubble-loader {
  display: flex;
  align-items: center;
  gap: 5px;

  span {
    display: inline-block;
    background-color: darken(#777777, 10%);
    width: 1rem;
    height: 1rem;
    opacity: 0.4;
    border-radius: 50%;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        -webkit-animation: 1s blink infinite ($i * 0.3333s);
        -moz-animation: 1s blink infinite ($i * 0.3333s);
        animation: 1s blink infinite ($i * 0.3333s);
      }
    }
  }

  &.light {
    span {
      background-color: darken(#ececec, 10%);
    }
  }

  &.small {
    span {
      width: 10px;
      height: 10px;
    }
  }

  &.extra_small {
    span {
      width: 6px;
      height: 6px;
    }
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  50% {
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    opacity: 1;
  }
}
