$breakPoints: (
  xs: (
    start: null,
    end: "449px",
  ),
  sm: (
    start: "450px",
    end: "599px",
  ),
  md: (
    start: "600px",
    end: "1023px",
  ),
  lg: (
    start: "1024px",
    end: "1799px",
  ),
  xl: (
    start: "1800px",
    end: null,
  ),
  mobile: (
    start: null,
    end: "599px",
  ),
  smallTablet: (
    start: null,
    end: "768px",
  ),
  middleTablet: (
    start: null,
    end: "992px",
  ),
  tablet: (
    start: null,
    end: "1024px",
  ),
  largeDesktop: (
    start: null,
    end: "1200px",
  ),
);

@mixin media($breakpoint) {
  $value: map-get($breakPoints, $breakpoint);
  @if $value != null {
    $start: map-get($value, start);
    $end: map-get($value, end);

    @if $start == null {
      @media (max-width: $end) {
        @content;
      }
    } @else if $end == null {
      @media (min-width: $start) {
        @content;
      }
    } @else {
      @media (min-width: $start) and (max-width: $end) {
        @content;
      }
    }
  } @else {
    @warn "Invalid breakpoint `#{$breakpoint}`.";
  }
}
