@import "~assets/SCSS/media";

.usearch__guide-menu--desktop {
  max-width: 380px;
  width: 380px;
  position: fixed;
  right: 0;
  top: 120px;
  z-index: 9;
  height: calc(100vh - 120px);
  background: #f7f7f7;
  border-left: 1px solid #ececec;
  display: flex;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 60px;
  overflow-y: auto;

  @include media(xl) {
    max-width: 330px;
  }

  @include media(tablet) {
    width: 280px;
    max-width: 280px;
    padding-right: 15px;
  }

  @include media(smallTablet) {
    display: none;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    grid-gap: 10px;
  }
}

.usearch__guide-menu {
  &__item {
    cursor: pointer;
    transition: 200ms all ease;
    padding-left: 15px;
    border-left: 4px solid transparent;

    &.active {
      font-weight: 700;
      border-color: #60a5da;
    }
  }
}
