@import "./assets/SCSS/_variables";
@import "./assets/SCSS/_media";

.button-action {
  border-radius: 5px;
  padding: 14px 24px;
  border: none;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: max-content;
  background-color: $darkBlue;
  cursor: pointer;
  font-family: $fontMulish600;

  @include media(mobile) {
    font-size: 16px;
  }

  span {
    color: #ffffff !important;
    font-family: $fontMulish600;
  }

  &:hover {
    span {
      text-decoration: underline;
    }
  }

  &.outline {
    border: 1px solid #2c44ff !important;
    background-color: transparent !important;
    color: #2c44ff !important;

    span {
      color: #2c44ff !important;
    }
  }

  &.dark-text {
    color: #0d0c0c !important;

    span {
      color: #0d0c0c !important;
    }
  }
}
