html,
body,
.root,
.main-wrapper {
  height: 100%;
}
mark {
  background: none;
  color: #267be7;
}
.custom-tooltip-popup {
  max-width: 700px;
  white-space: pre-wrap;
}

.hr-line {
  border: 1px solid #dce2ea;
  width: 100%;
}
