@import "./assets/SCSS/_media";
@import "./assets/SCSS/_variables";

.usearch__homepage__section-container {
  &__container {
    background: #fff;
    padding: 190px 0;
    position: relative;

    .button-action {
      gap: 10px;
      .icon {
        transform: rotate(180deg) !important;
      }
    }

    @include media(smallTablet) {
      padding: 80px 0 !important;
    }

    @include media(mobile) {
      padding: 60px 0 !important;
    }

    &.background-gray {
      background-color: #f0f3f7;
    }

    &.data-archieve {
      padding-bottom: 100px;
    }

    &.hero {
      padding-bottom: 50px;
      // padding-top: 0;
    }

    &.query-keywoards {
      padding-top: 100px !important;

      @include media(middleTablet) {
        padding-top: 100px !important;
      }

      @include media(mobile) {
        padding-top: 80px !important;
      }
    }
  }

  &__background-curve {
    width: 100%;
    position: absolute;
    top: -70px;
    color: #f0f3f7;
    z-index: 1;
    transform: rotate(180deg);

    @include media(mobile) {
      display: none;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 80px;
    align-items: center;

    @include media(largeDesktop) {
      grid-gap: 50px;
      grid-template-columns: 1fr 1.2fr;
    }

    @include media(middleTablet) {
      grid-template-columns: 1fr;
    }

    &.reversed {
      grid-template-columns: 1.3fr 1fr;

      @include media(middleTablet) {
        grid-template-columns: 1fr;
      }

      .usearch__homepage__section-container__content {
        grid-column: 2;
        grid-row: 1;

        @include media(middleTablet) {
          grid-column: initial;
          grid-row: initial;
        }
      }

      .usearch__homepage__section-container__image-container {
        grid-column: 1;
        grid-row: 1;

        @include media(middleTablet) {
          grid-column: initial;
          grid-row: initial;
        }
      }
    }
  }

  &__image-container {
    img {
      width: 100%;
      height: auto;

      @include media(smallTablet) {
        width: 100% !important;
        height: initial;
      }
    }
  }

  &__content {
    min-width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;

    h2,
    h1 {
      // font-size: 40px;
      font-size: 40px;
      font-family: $fontMulish600;
      color: #000;
      margin: 0;

      @include media(largeDesktop) {
        font-size: 3rem;
      }


      @include media(mobile) {
        font-size: 30px;
        letter-spacing: -1.1px;
      }
    }

    h3 {
      // font-size: 24px;
      font-size: 2.43rem;
      font-family: $fontMulish500;
      color: #152842;
      margin-bottom: 25px;

      @include media(largeDesktop) {
        font-size: 2rem;
      }

      @include media(middleTablet) {
        font-size: 2.5rem;
      }

      @include media(mobile) {
        font-size: 22px;
        margin: 5px auto 30px;
      }
    }

    p {
      // font-size: 18px;
      font-size: 1.85rem;
      font-family: $fontMulish600;
      color: #000;

      @include media(largeDesktop) {
        font-size: 1.65rem;
      }

      @include media(middleTablet) {
        font-size: 1.85rem;
      }

      @include media(mobile) {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
