@import "./assets/SCSS/media";
@import "./assets/SCSS/variables";

.usearch__homepage {
  &__search-api {
    &-container {
      background: #fff;
      padding: 120px 0;
    }

    &-inner {
      @include media(mobile) {
        grid-template-columns: 1fr !important;
      }
    }

    &__content {
      color: #122840;
    }

    &__action {
    }

    &__image-container {
      img {
        width: 100%;
        height: initial !important;
      }
    }
  }
}
