@import "./assets/SCSS/_media";
@import "./assets/SCSS/_variables";

.usearch__homepage {
  &__query-keywords {
    &-container {
      background: #fff;
      padding: 300px 0 120px;
      position: relative;

      @include media(mobile) {
        margin-top: 80px;
        padding-bottom: 0 !important;
      }
    }

    &__background-curve {
      position: absolute;
      top: -70px;
      color: $lightGray;
      z-index: 1;
      transform: rotate(180deg);

      @include media(mobile) {
        top: -15px;
      }
    }

    &__content {
      color: $textGray;
    }

    &__image-container {
      @include media(smallTablet) {
        margin-left: 0;
      }

      img {
        width: 100%;
        border-radius: 10px;
        height: auto;
        min-height: 304px;

        @include media(largeDesktop) {
          min-height: 219px;
        }

        @include media(middleTablet) {
          min-height: 156px;
        }

        @include media(smallTablet) {
          min-height: 269px;
        }

        @include media(mobile) {
          min-height: 197px;
        }
      }
    }
  }
}
